page-profileupload {
	.toolbar{padding:0;}
    .headerbg{ background: #183e6f;  padding: 5px;}
    .headerbg .logo { width: 80px; margin: auto; text-align: center;}
    .headerbg [icon-left] ion-icon{font-size: 36px; color: #fff; padding-top: 15px;}
    .right{ font-size: 1.7rem; color: #fff; padding-top: 15px; text-align: right;}
	ion-footer ul {text-align: center;margin: 0;padding: 0;list-style: none; font-size: 0;}
    ion-footer ul li {display: inline-block; padding: 15px 24px; color: #183e6f; text-decoration: none; font-size: 14px; margin: 0px 1% !important;}
    ion-footer ul li:hover{background: #f96529; color: #fff;}
    ion-footer ul li.active{background: #f96529; color: #fff;}
}
